# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/smalldata411/musicagg"
PassengerBaseURI "/"
PassengerPython "/home/smalldata411/virtualenv/musicagg/3.6/bin/python3.6"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
